[defaults]
remote_tmp = /tmp/.ansible/tmp


[privilege_escalation]
# If you are using newer Ubuntu AMIs (24.04/26.04), the new 'sudo-rs' binary 
# freezes over SSM. Uncomment the line below to use the legacy wrapper if this still hangs:
become_exe = sudo.ws